$height: 36px;
$color-primary: #2593fc;
$color-default: #fff;
$color-danger: #fd4f54;
$color-warning:#f7b232;
$color-text: #fff;
$color-grey: #d9d9d9;
$color-black: #595959;
$color-error: #fc396b;
$border-radius: 4px;
$spacing: 4px;